In [1]:
import FX_DATA_GEN as DG
import pandas as pd
import numpy as np

In [14]:
DG.Get_curr_data('MX')

               MXN
Date
1993-11-08   3.152
1993-11-09   3.240
1993-11-10   3.240
1993-11-12   3.240
1993-11-15   3.215
...            ...
2021-07-26  20.010
2021-07-27  19.975
2021-07-28  19.941
2021-07-29  19.859
2021-07-30  19.846

[6955 rows x 1 columns]

In [2]:
MEX = DG.MacEcon_TS('MX',1980, 2020)

In [ ]:
DG.describe_MacEcon_TS(MEX)

In [2]:
mex_full = DG.Get_FX_MacEcon_Data('MX')
#mex_full.head()

In [3]:
DG.describe_MacEcon_TS(mex_full)

                              Features First Valid Last Valid  Null Values
0                                  MXN  1993-11-08 2020-11-30            0
1                                   Yr  1993-11-08 2020-11-30            0
2                                  DoM  1993-11-08 2020-11-30            0
3                                  MoY  1993-11-08 2020-11-30            0
4                              sin_DoY  1993-11-08 2020-11-30            0
5                              cos_DoY  1993-11-08 2020-11-30            0
6              Ave Monthly USD FX Rate  1993-11-08 2020-11-30            0
7                    Inflation (CPI) %  1993-11-08 2020-11-30            0
8              Deposit Interest Rate %  1993-11-08 2020-11-30            0
9              Lending Interest Rate %  1993-11-08 2020-11-30            0
10                      NY.GDP.MKTP.CD  1993-11-08 2020-11-30            0
11               Real Interest Rate(%)  1993-11-08 2020-11-30            0
12        Foreign Exchange Reserves(%)  1993-11-08 2020-11-30            0
13            M2 Multiplier Growth (%)  1993-11-08 2020-11-30            0
14                         M2/Reserves  1993-11-08 2009-08-31         2814
15                  REED 12mth std dev  1993-11-08 2020-11-30            0
16              Domestic Credit to GDP  1993-11-08 2009-08-31         2814
17          Portfolio Investments(USD)  2009-01-02 2020-11-30         3806
18               Current Account(%GDP)  1993-11-08 2020-11-30            0
19                           FDI(%GDP)  1993-11-08 2020-11-30            0
20                     Total Debt(USD)  2008-01-02 2020-11-30         3554
21                Short Term Debt(USD)  2008-01-02 2020-11-30         3554
22             Capital Formations(USD)  1993-11-08 2020-11-30            0
23  Gov Consumption Expendature (%GDP)  1993-11-08 2020-11-30            0
24                        GDP % Growth  1993-11-08 2020-11-30            0

In [3]:
MEX_copy = mex_full.copy()

In [4]:
MEX_copy = (DG.Add_dummy_MoY(MEX_copy))
MEX_copy.head()

,MXN,Yr,DoM,sin_DoY,cos_DoY,Ave Monthly USD FX Rate,Inflation (CPI) %,Deposit Interest Rate %,Lending Interest Rate %,NY.GDP.MKTP.CD,...,MoY_is_3,MoY_is_4,MoY_is_5,MoY_is_6,MoY_is_7,MoY_is_8,MoY_is_9,MoY_is_10,MoY_is_11,MoY_is_12
Date,,,,,,,,,,,,,,,,,,,,,
1993-11-08,3.152,1993,8,-0.801361,0.598181,3.1553,18.715507,14.74,17.95,5.007361e+11,...,0,0,0,0,0,0,0,0,1,0
1993-11-09,3.240,1993,9,-0.790946,0.611886,3.1553,18.715507,14.74,17.95,5.007361e+11,...,0,0,0,0,0,0,0,0,1,0
1993-11-10,3.240,1993,10,-0.780296,0.625411,3.1553,18.715507,14.74,17.95,5.007361e+11,...,0,0,0,0,0,0,0,0,1,0
1993-11-12,3.240,1993,12,-0.758306,0.651899,3.1553,18.715507,14.74,17.95,5.007361e+11,...,0,0,0,0,0,0,0,0,1,0
1993-11-15,3.215,1993,15,-0.723644,0.690173,3.1553,18.715507,14.74,17.95,5.007361e+11,...,0,0,0,0,0,0,0,0,1,0

In [5]:
MEX_copy.drop(columns = ['M2/Reserves','Domestic Credit to GDP','Portfolio Investments(USD)','Total Debt(USD)','Short Term Debt(USD)','cos_DoY','Yr','DoM'], inplace = True)
DG.describe_MacEcon_TS(MEX_copy)

                              Features First Valid Last Valid  Null Values
0                                  MXN  1993-11-08 2020-11-30            0
1                              sin_DoY  1993-11-08 2020-11-30            0
2              Ave Monthly USD FX Rate  1993-11-08 2020-11-30            0
3                    Inflation (CPI) %  1993-11-08 2020-11-30            0
4              Deposit Interest Rate %  1993-11-08 2020-11-30            0
5              Lending Interest Rate %  1993-11-08 2020-11-30            0
6                       NY.GDP.MKTP.CD  1993-11-08 2020-11-30            0
7                Real Interest Rate(%)  1993-11-08 2020-11-30            0
8         Foreign Exchange Reserves(%)  1993-11-08 2020-11-30            0
9             M2 Multiplier Growth (%)  1993-11-08 2020-11-30            0
10                  REED 12mth std dev  1993-11-08 2020-11-30            0
11               Current Account(%GDP)  1993-11-08 2020-11-30            0
12                           FDI(%GDP)  1993-11-08 2020-11-30            0
13             Capital Formations(USD)  1993-11-08 2020-11-30            0
14  Gov Consumption Expendature (%GDP)  1993-11-08 2020-11-30            0
15                        GDP % Growth  1993-11-08 2020-11-30            0
16                            MoY_is_1  1993-11-08 2020-11-30            0
17                            MoY_is_2  1993-11-08 2020-11-30            0
18                            MoY_is_3  1993-11-08 2020-11-30            0
19                            MoY_is_4  1993-11-08 2020-11-30            0
20                            MoY_is_5  1993-11-08 2020-11-30            0
21                            MoY_is_6  1993-11-08 2020-11-30            0
22                            MoY_is_7  1993-11-08 2020-11-30            0
23                            MoY_is_8  1993-11-08 2020-11-30            0
24                            MoY_is_9  1993-11-08 2020-11-30            0
25                           MoY_is_10  1993-11-08 2020-11-30            0
26                           MoY_is_11  1993-11-08 2020-11-30            0
27                           MoY_is_12  1993-11-08 2020-11-30            0

In [20]:
#MEX_shift = DG.shift_FX(MEX_copy)
#MEX_shift

,MXN_X,sin_DoY,Ave Monthly USD FX Rate,Inflation (CPI) %,Deposit Interest Rate %,Lending Interest Rate %,NY.GDP.MKTP.CD,Real Interest Rate(%),Foreign Exchange Reserves(%),M2 Multiplier Growth (%),...,MoY_is_4,MoY_is_5,MoY_is_6,MoY_is_7,MoY_is_8,MoY_is_9,MoY_is_10,MoY_is_11,MoY_is_12,MXN_Y
Date,,,,,,,,,,,,,,,,,,,,,
1993-11-08,NaN,-0.801361,3.1553,18.715507,14.74,17.95,5.007361e+11,-0.765507,3.788303,4.49811,...,0,0,0,0,0,0,0,1,0,3.152
1993-11-09,3.152,-0.790946,3.1553,18.715507,14.74,17.95,5.007361e+11,-0.765507,3.788303,4.49811,...,0,0,0,0,0,0,0,1,0,3.240
1993-11-10,3.240,-0.780296,3.1553,18.715507,14.74,17.95,5.007361e+11,-0.765507,3.788303,4.49811,...,0,0,0,0,0,0,0,1,0,3.240
1993-11-12,3.240,-0.758306,3.1553,18.715507,14.74,17.95,5.007361e+11,-0.765507,3.788303,4.49811,...,0,0,0,0,0,0,0,1,0,3.240
1993-11-15,3.240,-0.723644,3.1553,18.715507,14.74,17.95,5.007361e+11,-0.765507,3.788303,4.49811,...,0,0,0,0,0,0,0,1,0,3.215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-20,20.183,-0.660152,20.5088,148.293109,0.53,5.26,1.076163e+12,-143.033109,17.387505,0.00000,...,0,0,0,0,0,0,0,1,0,20.083
2020-11-23,20.083,-0.620609,20.5088,148.293109,0.53,5.26,1.076163e+12,-143.033109,17.387505,0.00000,...,0,0,0,0,0,0,0,1,0,20.109
2020-11-24,20.109,-0.607058,20.5088,148.293109,0.53,5.26,1.076163e+12,-143.033109,17.387505,0.00000,...,0,0,0,0,0,0,0,1,0,20.012
2020-11-25,20.012,-0.593327,20.5088,148.293109,0.53,5.26,1.076163e+12,-143.033109,17.387505,0.00000,...,0,0,0,0,0,0,0,1,0,20.015
2020-11-30,20.015,-0.522133,20.5088,148.293109,0.53,5.26,1.076163e+12,-143.033109,17.387505,0.00000,...,0,0,0,0,0,0,0,1,0,20.150

In [18]:
#DG.stack_sequences(MEX_shift)[0]

array([            nan, -8.01361088e-01,  3.15530000e+00,  1.87155069e+01,
        1.47400000e+01,  1.79500000e+01,  5.00736066e+11, -7.65506894e-01,
        3.78830312e+00,  4.49810967e+00,  2.07523732e+00, -1.08400420e+00,
        3.43694037e-01,  1.04400589e+11,  9.11478347e+00,  3.78839567e+01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
        3.15200000e+00])

In [6]:
MEX_shift = DG.shift_and_stack(MEX_copy)
MEX_shift[0]

array([ 3.15200000e+00, -7.90945657e-01,  3.15530000e+00,  1.87155069e+01,
        1.47400000e+01,  1.79500000e+01,  5.00736066e+11, -7.65506894e-01,
        3.78830312e+00,  4.49810967e+00,  2.07523732e+00, -1.08400420e+00,
        3.43694037e-01,  1.04400589e+11,  9.11478347e+00,  3.78839567e+01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
        3.24000000e+00])

In [7]:
X,y = DG.split_sequences(MEX_shift,300)

In [8]:
X[0]

array([[ 3.152     , -0.79094566,  3.1553    , ...,  0.        ,
         1.        ,  0.        ],
       [ 3.24      , -0.78029585,  3.1553    , ...,  0.        ,
         1.        ,  0.        ],
       [ 3.24      , -0.75830581,  3.1553    , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 5.8       ,  0.40148799,  5.5133    , ...,  0.        ,
         0.        ,  0.        ],
       [ 5.7       ,  0.4171936 ,  5.5133    , ...,  0.        ,
         0.        ,  0.        ],
       [ 5.66      ,  0.43277559,  5.5133    , ...,  0.        ,
         0.        ,  0.        ]])

In [10]:
y.shape

(6489,)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


#Set split param
test_ratio = 0.2
val_ratio = test_ratio / (1 - test_ratio)
X, y = v.drop(['Class'], axis=1) , v[['Class']]

#Train & Test 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_ratio, shuffle=False)
#Train & Validation 

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=val_ratio, shuffle=False)


scaler = DG.get_scaler('standard')
X_train_arr = scaler.fit_transform(X_train)
X_val_arr = scaler.transform(X_val)
X_test_arr = scaler.transform(X_test)

y_train_arr = scaler.fit_transform(y_train)
y_val_arr = scaler.transform(y_val)
y_test_arr = scaler.transform(y_test)

from torch.utils.data import TensorDataset, DataLoader
import torch 
from torch import nn
from datetime import datetime
batch_size = 64

train_features = torch.Tensor(X_train_arr)
train_targets = torch.Tensor(y_train_arr)
val_features = torch.Tensor(X_val_arr)
val_targets = torch.Tensor(y_val_arr)
test_features = torch.Tensor(X_test_arr)
test_targets = torch.Tensor(y_test_arr)

train = TensorDataset(train_features, train_targets)
val = TensorDataset(val_features, val_targets)
test = TensorDataset(test_features, test_targets)

train_loader = DataLoader(train, batch_size=batch_size, shuffle=False, drop_last=True)
val_loader = DataLoader(val, batch_size=batch_size, shuffle=False, drop_last=True)
test_loader = DataLoader(test, batch_size=batch_size, shuffle=False, drop_last=True)
test_loader_one = DataLoader(test, batch_size=1, shuffle=False, drop_last=True)